# ignore ALL this files
*.log
*.zip
*.mp4
*.mkv
*.exe
*.md
*.txt
*.json
*.bin
*.csv
*.class
*.mf

# DO NOT ignore this
!README.md
!buffer.exe

# ignore ALL this files in this directory
temp/

# ignore this folders
.vscode
